<div class="animated fadeIn">
  <div class="main-container text-center">
    <h1 class="display-4 text-primary">¿Qué es?</h1>
    <p class="text-justify">Este Encuentro lo realiza la Sociedad Mexicana de Física cada año en paralelo
      con el Congreso Nacional y tiene como finalidad divulgar Ia ciencia. Esto se lleva a cabo mediante un conjunto de
      conferencias dictadas por expertos en el tema, las cuales están dirigidas al público en general así como talleres
      y exposiciones interactivas para niños de preescolar, primaria y secundaria.</p>
  </div>
  <div class="main-container">
    <h1 class="display-4 text-primary">Actividades</h1>
    <div class="bd-example">
      <img class="img-fluid" style="width: 100%" src="http://fakeimg.pl/800x1000/?text=Actividades&font=lobster">
    </div>
  </div>
</div>
