<div class="animated fadeIn">
  <div class="bd-example">
    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"
         style="height: 250px; width: 100%; display: block;"
         src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%221152%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201152%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ecf85a1d8%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A58pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ecf85a1d8%22%3E%3Crect%20width%3D%221152%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22408.98333740234375%22%20y%3D%22151.4%22%3E1152x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
         data-holder-rendered="true">
  </div>
  <div class="main-container text-center">
    <h1 class="display-4 text-primary">Grupo de Divulgacion Cientifica</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet eaque illo ipsam
      necessitatibus obcaecati
      officia quam qui repudiandae vel. Dolor est inventore nisi nostrum ratione similique sunt, totam veniam? Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet eaque illo ipsam necessitatibus obcaecati
      officia quam qui repudiandae vel. Dolor est inventore nisi nostrum ratione similique sunt, totam veniam?</p>
  </div>
  <div class="main-container">
    <app-carousel></app-carousel>
  </div>
  <div class="main-container text-center">
    <h1 class="display-4 text-secondary">Albergues</h1>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=cbvuu93ke5ho0k57j8dddch0fo%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FMexico_City"
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
      </iframe>
    </div>
  </div>
</div>
